* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #75d08f;
  height: 100vh;
  padding: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  border: 5px solid #adff2f;
  background-color: #80b86f;
  padding: 30px;
  border-radius: 15px;
}
